body{
    margin: 0px;
    padding: 0px;
}
main{
    
    display: flex;
    width: 70%;
    margin: 0 15%;
    background-color: #F3F5FC;
    border-radius: 0px 15px 15px 0px;
}
section{
    width: 70%;
    display: flex;
    flex-direction: column;
}
section img{
    width: 40px;
    margin: 10px;
}
section textarea{
    background-color: inherit;
    color: #0A3871;
    margin: 0 auto;
    /* border: none; */
    font-family: 'Inter';
    font-size: 2em;
    width: 70%;
}
section textarea::placeholder{
    color: #0A3871;
}
.botones{
    margin-top: 25px;
    text-align: center;
}
#encript{
    width: 200px;
    background-color: #0A3871;
    color: white;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #0A3871;
    border-radius: 24px;
}
#decript{
    width: 200px;
    background-color: #D8DFE8;
    color: #0A3871;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #0A3871;
    border-radius: 24px;
}
#copy{
    width: 200px;
    background-color: #fff;
    color: #0A3871;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    visibility: hidden;
}

/* Aside block */

aside{
    box-sizing: border-box;
    background-color: white ;
    width: 30%;
    padding: 20px;
    border: 2px solid lightblue;
    border-radius: 15px;
    text-align: center;
}
aside h2{
    font-size: 2em;
}
aside img{
    width: 100%;
}
aside h4{
    color: red;
    width: 100%;
}

/* footer of site */
footer{
    text-align: center;
}